.menu li {
  display: inline-block;
}
.header ul {
  display: inline-block;
}
.header {
  background-color: aqua;
  border: 1px solid black;
}

.menu li a {
  margin: 120px;
}

.heading {
  float: left;
}
